/tmp
/out-tsc
node_modules
dist
.next
.turbo
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.vscode/*
.idea/workspace.xml
.DS_Store
DB_INFO.txt
README_BK.md
PORTFOLIO_BK.md
scripts/sh/
apps/api/logs/