# tunnel-db.sh, tunnel-all.sh가 사용하는 RDS 포워딩용 로컬 포트
DB_LOCAL_PORT=2222

# tunnel-was.sh, tunnel-all.sh가 사용하는 WAS SSH 포워딩용 로컬 포트
WAS_LOCAL_PORT=3333

# tunnel-redis.sh, tunnel-all.sh가 사용하는 ElastiCache 포워딩용 로컬 포트
REDIS_LOCAL_PORT=4444
